ul{
  list-style-type: none;
  margin: 0;
  padding: 0cm;
  overflow: hidden;
  background-color:cornflowerblue;
}
li{
  float: left;
  border-right: 1px solid rebeccapurple;
}
li a{
  display: block;
  color: aliceblue;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}
li a:hover{
  background-color: blueviolet;
}
#name{
  font-size: 60px;
  font-style: oblique;
  font-family: fantasy;
  text-align: center;
}
#dog{
  height: 500px;
  width: 700px;
  padding-top: 15px;
}
.project{
  display:table;
}
.image{
  height: 250px;
  width:250px;
}
.description{
  float: right;
}