ul{
  list-style-type: none;
  margin: 0;
  padding: 0cm;
  overflow: hidden;
  background-color: aqua;
}
li{
  float: left;
  border-right: 1px solid rebeccapurple;
}
li a{
  display: block;
  color: aliceblue;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}
li a:hover{
  background-color: blueviolet;
}